<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Board</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.png" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link href="css/carousel.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link href="css/dashboard.css" rel="stylesheet">
</head>

<body class="animsition">

	<!-- Header -->
	<header data-include="html/include/header.html"></header>

	<!-- Board -->
	<div class="bg0 p-t-30 p-b-30">

		<div class="container-fluid">
			<div class="row">
		
				<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
					<div class="offcanvas-lg offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
					  aria-labelledby="sidebarMenuLabel">
					  <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
						<ul class="nav flex-column">
						  <li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">
							  Dashboard
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="#">
							  Orders
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="#">
							  Products
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="#">
							  Customers
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="#">
							  Reports
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="#">
							  Integrations
							</a>
						  </li>
						</ul>
				
						<hr class="my-3">
				
						<ul class="nav flex-column mb-auto">
						  <li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="#">
							  Settings
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="/logout">
							  Sign out
							</a>
						  </li>
						</ul>
					  </div>
					</div>
				  </div>
				  

				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Title</th>
								<th scope="col">Link</th>
								<th scope="col">User ID</th>
								<th scope="col">Created</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="board : ${boardList}">
								<th th:text="${board.id}"></th>
								<th th:text="${board.title}"></th>
								<th>
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary" data-toggle="modal"
										data-target="#exampleModalLong">
										View
									</button>
									<!-- Modal -->
									<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
										aria-labelledby="exampleModalLongTitle" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 th:text="${board.title}" class="modal-title"
														id="exampleModalLongTitle">Modal title</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div th:text="${board.content}" class="modal-body">
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Save changes</button>
												</div>
											</div>
										</div>
									</div>
								</th>
								<th th:text="${board.userid}"></th>
								<th th:text="${board.createdAt}"></th>
							</tr>
						</tbody>
					</table>
				</main>
			</div>

		</div>

	</div>

	<!-- Footer -->
	<!-- <footer data-include="html/include/footer.html"></footer> -->

	<script src="js/includeHTML.js"></script>
	<script>
		includeHTML();
	</script>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>